<%- include('header') -%>
        
    <%- include('navbar') -%>

    <div class="container">
        <%- include('button-groupe') -%>

        <div class="row mb-5 mt-4">
            <div class="col-4">
                <div class="main-details-image border p-2">
                    <img id="thumbnailElement" class="w-100" src="<%- productData.image -%>" alt="">
                </div>

                <!-- More Images -->
                <div class="row mt-4">

                    <div class="col-3 more-image-element">
                        <img class="w-100" src="<%- productData.image -%>" alt="">
                    </div>

                    <% for(let i = 0; i < productData.images.length; i++){ %>
                        <div class="col-3 more-image-element">
                            <img class="w-100" src="<%- productData.images[i] -%>" alt="">
                        </div>
                    <% } %>
                </div>
            </div>
            <div class="col-8">

            </div>
        </div>

        <div class="text-center h4 mb-4">Related Products</div>
        
        <div class="row">
            <% for( i = 0; i < 6; i++ ) { %>
                <div class="col-2">
                    <div class="card shadow mb-4">
                        <div class="product-card">
                            <a href="#" class="card-link">
                                <img src="https://assets.gadgetandgear.com/upload/media/iphone-16-pro-max-512gb-desert-titanium.jpeg" class="card-img-top" alt="CardImage" >
                                <div class="card-body text-center">
                                    <h5 class="card-title">iPhone 13</h5>
                                    <p class="card-text">$ 600</p>
                                </div>
                            </a>
                            <div class="text-center mb-3">
                                <button type="button" id="details-btn" class="btn btn-sm">Details</button>
                                <button type="button" id="buy-now-btn" class="btn btn-sm">Buy Now</button>
                            </div>
                        </div>
                    </div>
                </div>
            <% } %>
        </div>
    
    </div>



    <script>
        

        const thumbnailElement = document.getElementById('thumbnailElement')
        //select all element
        const moreImageElements = document.querySelectorAll('.more-image-element')

        
        moreImageElements.forEach(function(item){
        
            item.addEventListener('click', function(event){

                const moreImageEl = event.target.closest('.more-image-element');

                const imageElement = moreImageEl.querySelector('img')
                
                const imageSrc = imageElement.getAttribute('src');
                
                //for remove active class each element
                moreImageElements.forEach(function(element){
                    document.querySelectorAll('.more-image-element').forEach(function (el) {
                        el.classList.remove('other-details-image');
                    });
                })


                moreImageEl.classList.add('other-details-image')


                thumbnailElement.setAttribute('src', imageSrc)


            })


        })

    </script>

<%- include('footer') -%>

