<%- include('header') -%>
        
    <%- include('navbar') -%>

    <div class="container">
        <%- include('button-groupe') -%>
        <% if( active_page == 1 ){%>
            <%- include('carousel') -%>
        <%}%>
        <%- include('card') -%>
        <%- include('pagination') -%>
    
    </div>

<%- include('footer') -%>



