<%- include('header') -%>
        
    <%- include('navbar') -%>

    <div class="container">
        <%- include('button-groupe') -%>
        <%- include('carousel') -%>
        <%- include('card') -%>
        <%- include('pagination') -%>
    
    </div>

<%- include('footer') -%>



